.DS_Store
.htaccess
xmlrpc.php
blogs.dir/
upgrade/
sitemap.xml
sitemap.xml.gz
uploads/
content/object-cache.php
wpremote
*-backups
/node_modules/

### WordPress local dev ###
wp-config-local.php
*.log
hm-dev/
query-monitor/
