[submodule "wordpress"]
	path = wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "content/plugins-mu/hm-core"]
	path = content/plugins-mu/hm-core
	url = git://github.com/humanmade/hm-core.git
[submodule "content/plugins-mu/wpthumb"]
	path = content/plugins-mu/wpthumb
	url = git://github.com/humanmade/WPThumb.git
[submodule "content/plugins-mu/tlc-transients"]
	path = content/plugins-mu/tlc-transients
	url = https://github.com/markjaquith/WP-TLC-Transients.git
[submodule "content/themes/twentytwelve"]
	path = content/themes/twentytwelve
	url = https://github.com/thethemefoundry/twentytwelve.git
