# HM Base & Build
node_modules
.sass-cache

**/assets/css/*.min.css
**/assets/css/*.css
**/assets/js/*.min.js
**/assets/js/*.js

#wordpress
wp-config-local.php
www/content/uploads/
www/content/object-cache.php

# To ignore plugins...
# www/content/plugins/*
# ! www/content/plugins/dont-ignore

# Misc
.DS_Store
.htaccess
xmlrpc.php
blogs.dir/
upgrade/
sitemap.xml
sitemap.xml.gz
wpremote