# HM Base & Build
node_modules
.sass-cache

**/assets/css/*.min.css
**/assets/css/*.css
**/assets/js/*.min.js
**/assets/js/*.js

# Misc
.DS_Store
.htaccess
xmlrpc.php
blogs.dir/
upgrade/
sitemap.xml
sitemap.xml.gz
uploads/
wp-config-local.php
site/content/object-cache.php
wpremote